*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.red{
    color:red;
}
body{
   
    overflow-x: hidden;
    width: 100%;
    height: auto;
}

.container{
    width: 100%;
    height: 100%;
   
}

.floatingHeading {
    font-family: 'Manrope', sans-serif;
    display: inline-block;
    background-color: white;
    padding: 5px 15px;
    font-weight: 500;
    font-size: 14px;
}
.left_sec{
  display:flex;
  gap:1.5rem;
 display: none; 
}
.left_sec>i:first-child{
  font-size: 25px;
}
.left_sec>i:nth-child(2){
  font-size: 21px;
}
.logo{
    height: 65px;
    width: 65px;
}
.nav_wrapper{
  height: 6rem;
     display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    background-color: white;
}
.navbar {
    /* max-width: 1250px; */
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
    width: 100%;
    align-items: center;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }
  .navbar_fixed{
    position: fixed;
    top: 0;
    z-index: 10;
  
  }
  .mobile_personal_icons{
    display: flex;
    display: none;
    gap: 1.5rem;
  }
  .mobile_personal_icons>.user{
    font-size: 23px;
  }
  .mobile_personal_icons>.bag_icon>svg{
    width: 23px;
    height: 23px;
  }

  .personal_icons{
    display: flex;
    gap: 1.5rem;
    justify-content: space-evenly;
    align-items: center;
  }
.personal_icons>svg{
    width: 23px;
    height: 23px;
    display: inline-block;
    position: relative;
    background-color: transparent;
    top: 1px;
    stroke: black;  
}
.personal_icons>svg:first-child{
    fill: transparent;
    stroke-width: 2px;
}
.personal_icons>svg:nth-child(2){
  width: 22px;
  height: 22px;
  top: 2px;
}

.personal_icons>svg:last-child{
  width: 22px;
  height: 22px;
}
.searchbar {
    margin-left: 10px; 
    display: flex;
    align-items: center;
    background-color: #F6F6F6;
    padding: 10px;
    max-width: 100%;
    min-width: 800px;
    align-self: left;
    margin: 0px 15px;
    height: 50px;
    border-radius: 5px;
  }
  
.searchbar input {
    background-color: #F6F6F6;
    width: 100%;
    border: none;
    outline: none;
    padding-left: 15px;
    font-style: 'Manrope' , sans-serif;
    color: rgb(165, 165, 165);
    font-size: 16px;
}
.search_icon{
  width: 22px;
  height: 22px;
  
}
.personal_icons {
    margin-left: auto; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
  
  .personal_icons i, .personal_icons p {
    margin-left: 10px; 
}
 .item1  :hover{
    background-image: ;
    height: 30px;
    width: 40px;
}
.types{
    color: rgb(30, 30, 30);
    text-decoration: none;
    font-family: 'Manrope' , sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.sub_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ED3338;
    padding: 13px;
}

.sub_type{
    color: white;
    text-decoration: none;
    font-family: 'Manrope' , sans-serif;
    font-weight: 500;
    font-size: 15px;
    font-stretch: expanded;
    margin: 30px;
}


.categories{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    text-decoration: none;
    background-color: white;
   padding: 1rem; 

}

 .categories :hover .sub-menu-1{
    display: block;
   
}
.category-wrapper{
    position: sticky;
    top:0;
    z-index: 10;
}
.sub-menu-1{
    display: none;
    position: absolute;
    background-color:red;
    border-radius : 2px;
} 
categories .item1 a {
    position: relative;
      color: black; 
  }
  
  /* .categories .item1 .sub-menu-1 {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    
  }
  
  .categories .item1:hover .sub-menu-1 {
    display: block;
  }
  
  .categories .item1 .sub-menu-1 ul {
    list-style: none;
    padding: 0;
  }
  
  .categories .item1 .sub-menu-1 ul li {
    margin-bottom: 5px;
  } */ 
  
.types{
    color: rgb(30, 30, 30);
    text-decoration: none;
    font-family: 'Manrope' , sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.sub_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ED3338;
    padding: 13px;
}

.sub_type{
    color: white;
    text-decoration: none;
    font-family: 'Manrope' , sans-serif;
    font-weight: 700;
    font-size: 16px;
    font-stretch: expanded;
    margin: 30px;
}

h2{
    font-family: 'Manrope' , sans-serif;
    text-align: center;
    margin: 30px;
    font-size: 40px;
}
/* .owl-carousel{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
} */
.sliding-image div{
    max-width: 100%;
    width: 100%;
  

}
.sliding-image div img{
    width: 100%;
    
}
.sliding-image{
    overflow: hidden;
    display: inline-flex;
}


footer {
    display: grid;
    grid-template-columns: 250px 200px 200px 200px 200px;

    padding: 20px;
    background-color: #555555;
    color: #fff;
    font-family: 'Manrope' , sans-serif;
    width: 100%;
   
}
ul{
    list-style: none;
}
li a {
    color: white;
    text-decoration: none;
    
}
li{
    padding-bottom: 12px;

}
li a:hover{
    cursor: pointer;
    text-decoration: underline;
    
}

 .icons a{
    color: #C2C2C2;
 }

.marketing{
    background-color: #E4E7E5;
    display: flex;
    justify-content: space-around ;
    flex-wrap: wrap;
}
.marketing p{
    font-family: 'Manrope' , sans-serif;
    padding: 40px;
    margin: 10px;
}
.icons {
    padding-top: 2rem;
    display: flex;
    gap: 1.6rem;
}
.content{
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 15px;
}

.time ul{
    padding: 2px;
}
h4{
    padding-top: 20px;
    padding-bottom: 12px;
    
}
.msg{
    width: 350px;
    padding-bottom: 13px;
}

.explore ,.products , .support , .help{
    padding-top: 12px;
}


.news{
    padding-bottom: 20px;
}
.email_id ::placeholder{
    padding: 10px;
    margin: 15px;
}
.email_id input{
   height: 50px;
   width: 250px;
}
.sub{
    height: 50px;
    width: 130px;
   background-color: #ED3338;
}
.sub:hover{
    cursor: pointer;
    background-color: #151313;
    transition: all 0.6s;
}
.sub p{
    padding-left: 25px;
    padding-top: 18px;
    width: 160px;
}

.wrap{
    display: flex;
    gap: 0.5rem;
}

.connect{
    text-decoration: underline;
    font-family: 'Manrope' , sans-serif;
}
.sign_up{
    width: 100%;
}
.bottom{
    border-top: 1px solid white;
    height: 1rem;
    text-align: center;
    background-color: #555555;
    padding: 2rem 0;
    color: white;
}

.mycelloflask{
    height: 600px;
    width: 100%;
    z-index: 1;
}
.mycelloflask img{
    width: 100%;
    height: 100%;
}

.bottom-div{
    position: relative;
}

.card-container{
    padding: 20px 0px 20px 20px;
    margin:20px;
    display: flex;
    flex-direction: column;
    gap:50px;
    position: relative;
}

.cardrow{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    flex-wrap: wrap;
    position: relative;
    gap: 2.0rem;
    padding-left: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap:30px;
    border-radius: 10px;
    padding:7px;
    height: 450px;
    width: 270px;
    box-shadow: rgb(204, 204, 204) 0px 8px 12px 5px;
}
.card-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 10px;
    width: 100%;
    height:300px;
  
}
 
.card-view .card-img{
   
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 240px;
    transition: transform 0.3s ease-in-out;
}

.card-view .card-img .new{
    position: absolute;
    left:20px;
    top:10px;
    color: #2a6876;
    font-size: 13px;
    font-weight: 400;
    padding: 2px 10px;
    background-color: #fff;
}

.card-view .card-img .off{
    position: absolute;
    top:40px;
    left: 20px;
    color: #fff;
    font-size: 14px;
    border: 1px solid #d14c46;
    padding: 2px 10px;
    background-color: #d14c46;
}

.card-img:hover{
    transform: scale(1.05);
}
.card-view .card-img img{
   
    width: 100%;
    height: 240px;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
 
   
}

.card-view .card-img:hover img{
    opacity: 0;
}

.card-view .card-img img.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0; 
   
    animation: zoom-in-zoom-out;
  }

  .card-view .card-img:hover .hover-image{
    opacity: 1;
  }
  
@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    25%{
        transform: scale(1.25,1.25);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(2, 2);
    }
  }

.card-view .card-add{
    border: 1px solid #F84248;
 
    width: 100%;
    height: 48px;
    
    top:10px;
   
}
.card-view .card-add{
    font-size: 16px;
    padding: 12px 15px;
    width: 100%;
    height: 48px;
    font-family: Manrope;
    color: #F84248;
    background-color: transparent;
    background: #ffffff;
    outline: none;
    border: none;
   
    border: 1px solid #F84248;
    border-radius: 5px;
    left:50px;
}

.card-view .card-add:hover{
    background-color:#F84248;
    color: #fff;
}


.card .card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.card-infor .card-details{
    width: 100%;
}

.card-name{
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 400;
    overflow: hidden;
    width: 260px;
    margin-bottom: 20px;
}
 .card-details .card-name :hover{
    color: #2a6876;
    cursor: pointer;
    text-decoration: underline;
    
}

.card-details .card_name:hover{
    color:rgb(44, 44, 145);
    cursor: pointer;
}
.card-price{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3px;
    margin: 18px;
}

.card-price .avail{
    color: #d14c46;
    font-size: 16px;
}

.card-price .save{
    font-size: 13px;
    background-color: #d14c46;
    color: #fff;
    padding: 4px;
    border-radius: 3px;
}

.card-info .card-clear{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    bottom: -10px;
    left:-110px;
}

.project-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    pad: 3rem;
}

.box {
    width: 450px;
    height: 400px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.box img {
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

.project-hide {
    position: absolute;
    font:  "Manrope", sans-serif;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 45px;
    background-color: rgba(0, 0, 0, 0.259);
    z-index: 1;
    opacity: 0;
    transition: all 0.5s;
}

.project-hide a{
    text-decoration:none;
    color: white;
}

.box:hover img {
    transform: scale(1.2);
}

.box:hover .project-hide {
    opacity: 1;
}
/* responsive-styles */

@media only screen and (max-width: 820px){
  .left_sec{
    display:flex;
  }
  .mobile_personal_icons{
    display:flex;
  }
  .searchbar{
    display: none;
  }
  .icon_wrapper{
    display: none;
  }
.logo{
    height: 50px;
    width: 50px;
}
.categories{
  display: none;
}
.sub_heading{
  display: none;
}
}
@media only screen and (max-width:820px) {
 footer{
  grid-template-columns:  250px 200px 200px;
  
 }
 footer>.help{
  grid-column: 2/4;
 }
}
