*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.red{
    color:red;
}
body{
    overflow-x: hidden;
    width: 100%;
    height: auto;
}

.container{
    width: 100%;
    height: 100%;
}

.floatingHeading {
    font-family: 'Manrope', sans-serif;
    display: inline-block;
    background-color: white;
    padding: 5px 15px;
    font-weight: 500;
    font-size: 14px;
}
.logo{
    height: 65px;
    width: 65px;
  
}
.navbar {
    display: flex;
    align-items: center;
    padding-right: 40px;
    padding-left: 25px;
    padding-bottom: 30px;
    padding-top: 30px;
    flex-wrap: wrap;
    margin: 10px;
    gap: 10px;

  }
  .personal_icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

  }

.searchbar {
    margin-left: 10px; 
    display: flex;
    align-items: center;
    background-color: #F6F6F6;
    padding: 10px;
    width: 800px;
    margin: 0px 15px;
    height: 50px;
    border-radius: 5px;
  }
  
.searchbar input {
    background-color: #F6F6F6;
    width: 380px;
    border: none;
    outline: none;
    padding-left: 15px;
    font-style: 'Manrope' , sans-serif;
    color: rgb(165, 165, 165);
    font-size: 16px;
}
  
.personal_icons {
    margin-left: auto; 
    display: flex;
    align-items: center;
}
  .personal_icons i, .personal_icons p {
    margin-left: 10px; 
}
.categories{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    height: 30px;
    text-decoration: none;
    background-color: white;
    position: relative;
}

 .categories :hover .sub-menu-1{
    visibility: visible;
    opacity: 1;

   
}
.category-wrapper{
    position: sticky;
    top:0;
    z-index: 10;
}
.sub-menu-1{
    font-family: 'Manrope' , sans-serif;
    font-size: small;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top:32px ;
    left: 20%;
    background-color:white;
    border-radius : 2px;
    width: 800px;
    height: 250px;
    color: #151313;
    z-index: 12;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    
}
.sub-menu-1 .list li{
    display: flex;
    align-items: center;
    height: 35px;
}

.sub-menu-1 ul li a{
    color: black;
    text-decoration: none;
    vertical-align: center;
    padding-top: 13px;
   
}

.sub-menu-1 ul li:hover {
    background-color:#ED3338;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
    
}
.sub-menu-1 img{
    object-fit: cover;
    height: 250px;
    width: 250px;
   
}
.sub-menu-1 .list{
    width:30%;  
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
    
    
}
.categories .item1 a {
    position: relative;
      color: black; 
  }

.types{
    color: rgb(30, 30, 30);
    text-decoration: none;
    font-family: 'Manrope' , sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.sub_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ED3338;
    padding: 13px;
}

.sub_type{
    color: white;
    text-decoration: none;
    font-family: 'Manrope' , sans-serif;
    font-weight: 700;
    font-size: 16px;
    font-stretch: expanded;
    margin: 30px;
}

h2{
    font-family: 'Manrope' , sans-serif;
    text-align: center;
    margin: 30px;
    font-size: 40px;
}
.sliding-image div{
    max-width: 100%;
    width: 100%;
  

}
.sliding-image div img{
    width: 100%;
    
}
.sliding-image{
    overflow: hidden;
    display: inline-flex;
}
 .hover-image{
    position: relative;
    z-index: 12;
}

footer {
    display: grid;
    grid-template-columns: 250px 200px 200px 200px 200px;
    padding: 20px;
    background-color: #555555;
    color: #fff;
    font-family: 'Manrope' , sans-serif;
    height: 700px;
    width: 100%;
   
}
ul{
    list-style: none;
}
li a {
    color: white;
    text-decoration: none;
    
}
li{
    padding-bottom: 12px;

}
li a:hover{
    cursor: pointer;
    text-decoration: underline;
    
}

 .icons a{
    color: #C2C2C2;
 }

.marketing{
    background-color: #E4E7E5;
    display: flex;
    justify-content: space-around ;
    flex-wrap: wrap;
}
.marketing p{
    font-family: 'Manrope' , sans-serif;
    padding: 40px;
    margin: 10px;
}
.icons {
    padding-top: 2rem;
    display: flex;
    gap: 1.6rem;
}
.content{
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 15px;
}

.time ul{
    padding: 2px;
}
h4{
    padding-top: 20px;
    padding-bottom: 12px;
    
}
.msg{
    width: 350px;
    padding-bottom: 13px;
}

.explore ,.products , .support , .help{
    padding-top: 12px;
}


.news{
    padding-bottom: 20px;
}
.email_id ::placeholder{
    padding: 10px;
    margin: 15px;
}
.email_id input{
   height: 50px;
   width: 250px;
}
.sub{
    height: 50px;
    width: 130px;
   background-color: #ED3338;
}
.sub:hover{
    cursor: pointer;
    background-color: #151313;
    transition: all 0.6s;
}
.sub p{
    padding-left: 25px;
    padding-top: 18px;
    width: 160px;
}

.wrap{
    display: flex;
    gap: 0.5rem;
}

.connect{
    text-decoration: underline;
    font-family: 'Manrope' , sans-serif;
}
.sign_up{
    width: 100%;
}
.bottom{
    border-top: 1px solid white;
    height: 1rem;
    text-align: center;
    background-color: #555555;
    padding: 2rem 0;
    color: white;
}

.mycelloflask{
    height: 600px;
    width: 100%;
    z-index: 1;
}
.mycelloflask img{
    width: 100%;
    height: 100%;
}

.bottom-div{
    position: relative;
}

.card-container{
    padding: 20px 0px 20px 20px;
    margin:20px;
    display: flex;
    flex-direction: column;
    gap:50px;
    position: relative;
}

.cardrow{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    flex-wrap: wrap;
    position: relative;
    gap: 2.0rem;
    padding-left: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap:30px;
    border-radius: 10px;
    padding:7px;
    height: 450px;
    width: 270px;
    box-shadow: rgb(204, 204, 204) 0px 8px 12px 5px;
}
.card-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 10px;
    width: 100%;
    height:300px;
  
}
 
.card-view .card-img{
   
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 240px;
    transition: transform 0.3s ease-in-out;
}

.card-view .card-img .new{
    position: absolute;
    left:20px;
    top:10px;
    color: #2a6876;
    font-size: 13px;
    font-weight: 400;
    padding: 2px 10px;
    background-color: #fff;
}

.card-view .card-img .off{
    position: absolute;
    top:40px;
    left: 20px;
    color: #fff;
    font-size: 14px;
    border: 1px solid #d14c46;
    padding: 2px 10px;
    background-color: #d14c46;
}

.card-img:hover{
    transform: scale(1.05);
}
.card-view .card-img img{
    width: 100%;
    height: 240px;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

.card-view .card-img:hover img{
    opacity: 0;
}

.card-view .card-img img.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0; 
    animation: zoom-in-zoom-out;
  }

  .card-view .card-img:hover .hover-image{
    opacity: 1;
  }
  
@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    25%{
        transform: scale(1.25,1.25);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(2, 2);
    }
  }

.card-view .card-add{
    border: 1px solid #F84248;
    width: 100%;
    height: 48px;
    top:10px;
   
}
.card-view .card-add{
    font-size: 16px;
    padding: 12px 15px;
    width: 100%;
    height: 48px;
    font-family: Manrope;
    color: #F84248;
    background-color: transparent;
    background: #ffffff;
    outline: none;
    border: none;
    border: 1px solid #F84248;
    border-radius: 5px;
    left:50px;
}

.card-view .card-add:hover{
    background-color:#F84248;
    color: #fff;
}

.card .card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.card-infor .card-details{
    width: 100%;
}

.card-name{
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 400;
    overflow: hidden;
    width: 260px;
    margin-bottom: 20px;
}
 .card-details .card-name :hover{
    color: #2a6876;
    cursor: pointer;
    text-decoration: underline;
    
}

.card-details .card_name:hover{
    color:rgb(44, 44, 145);
    cursor: pointer;
}
.card-price{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3px;
    margin: 18px;
}

.card-price .avail{
    color: #d14c46;
    font-size: 16px;
}

.card-price .save{
    font-size: 13px;
    background-color: #d14c46;
    color: #fff;
    padding: 4px;
    border-radius: 3px;
}

.card-info .card-clear{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    bottom: -10px;
    left:-110px;
}

.project-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    pad: 2rem;
}

.box {
    width: 422px;
    height: 400px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.box img {
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

.project-hide {
    position: absolute;
    font:  "Manrope", sans-serif;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 45px;
    background-color: rgba(0, 0, 0, 0.259);
    z-index: 1;
    opacity: 0;
    transition: all 0.5s;
}

.project-hide a{
    text-decoration:none;
    color: white;
}

.box:hover img {
    transform: scale(1.2);
}

.box:hover .project-hide {
    opacity: 1;
}