
/* $white: #fff;
$black: #666;
$grey: #e5e5e5;
$green: #49b35e;
$red: #f43f31; */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: #fff;
    font-family: Manrope, sans-serif;

    color:rgb(35,35,35);
    font-weight: 400;
}
.red{
    color:red;
}
.floatingHeading {
    font-family: 'Manrope', sans-serif;
    display: inline-block;
    background-color: white;
    padding: 5px 15px;
    font-weight: 500;
    font-size: 14px;
}
.logo{
    height: 65px;
    width: 65px;
  
}

.mobile-header{
    display: none;
}
.navbar {
    display: flex;
    align-items: center;
    padding-right: 40px;
    padding-left: 25px;
    padding-bottom: 30px;
    padding-top: 30px;
    flex-wrap: wrap;
    margin: 10px;
    /* gap: 10px; */
    align-items: center;
    justify-content:flex-start;

  }
  .personal_icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

  }

.searchbar {
    margin-left: 10px; 
    display: flex;
    align-items: center;
    background-color: #F6F6F6;
    padding: 10px;
    width: 900px;
    margin: 0px 15px;
    height: 50px;
    border-radius: 5px;
  }
  
.searchbar input {
    background-color: #F6F6F6;
    width: 380px;
    border: none;
    outline: none;
    padding-left: 15px;
    font-style: 'Manrope' , sans-serif;
    color: rgb(165, 165, 165);
    font-size: 16px;
}
  
.personal_icons {
    margin-left: auto; 
    display: flex;
    align-items: center;
}
  
  .personal_icons i, .personal_icons p {
    margin-left: 10px; 
}
.categories{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;

}
 .item1  :hover{
    background-image: ;
    height: 30px;
    width: 40px;
}
.types{
    color: rgb(30, 30, 30);
    text-decoration: none;
    font-family: 'Manrope' , sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.sub_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ED3338;
    padding: 13px;
}

.sub_type{
    color: white;
    text-decoration: none;
    font-family: 'Manrope' , sans-serif;
    font-weight: 700;
    font-size: 16px;
    font-stretch: expanded;
    margin: 30px;
}

h2{
    font-family: 'Manrope' , sans-serif;
    text-align: center;
    margin: 30px;
    font-size: 40px;
}

.main{
    padding: 15px;
    font-family: Manrope, sans-serif;
}

.sticky-container {
    position: fixed;
    background-color: #f1f1f1;
    right: 20px;
    top: 42%;
    z-index: 200;
    box-shadow: 0 3px 7px #0003;
    font-size: 20px;
  }
  .sticky-bar {
    background: #fff;
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  .sticky-bar i {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 40px; */
    transition: background-color 0.3s ease;
  }
  
  .sticky-bar i:not(:last-child) {
    border-bottom: 2px solid #ddd;
  }
  .sticky-bar i:hover {
    background-color: rgb(226, 226, 226);
  }

.title{
    background-color: #fff;
    font-family: Manrope, sans-serif;
    font-size: 14px;
    color:rgb(35,35,35);
    font-weight: 400;
    margin-left: 20px;
}

.top-div{
    display: flex;
    margin: 16px 0;
    padding-left: 40px;
    flex-wrap: wrap;
}

.item-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.item-1, .item-2, .item-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.item-1 span{
    padding:4px 16px;
    transition: filter 10s ease-in-out;
}

.item-1 image{
    transition: filter 10s ease-in-out;
}



.item-1:hover .image {
    filter: blur(0.8px);
    cursor: pointer;
}

.item-1:hover span{
    background-color: #F84248;
    border: 1px solid #F84248;
    color: #fff;
    cursor: pointer;
}

.item-2 span{
    padding:4px 16px;
    transition: filter 10s ease-in-out;
}

.item-2 image{
    transition: filter 10s ease-in-out;
}



.item-2:hover .image {
    filter: blur(0.8px);
    cursor: pointer;
}

.item-2:hover span{
    background-color: #F84248;
    border: 1px solid #F84248;
    color: #fff;
    cursor: pointer;
}

.item-3 span{
    padding:4px 16px;
    transition: filter 10s ease-in-out;
}

.item-3 image{
    transition: filter 10s ease-in-out;
}



.item-3:hover .image {
    filter: blur(0.8px);
    cursor: pointer;
}

.item-3:hover span{
    background-color: #F84248;
    border: 1px solid #F84248;
    color: #fff;
    cursor: pointer;
}

.middle-div{
    margin: 40px 16px;
    padding-left: 40px;
}

.middle-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
}

.filter-div  .category{
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgrey;
    padding: 8px 16px ;
    position: relative;
}

.filter-div .category .dropdown-content{
    position: absolute;
    display: none;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    /* padding:0px 2px; */
    top:40px;
    left: 0px;
    text-align: center;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    position: relative;
  }



  .dropdown-content .custom-checkbox{
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 5px;
  }

  .filter-div  .category:hover .dropdown-content{
    display: block;
  }

  .filter-div .color .dropdown-content{
    position: absolute;
    display: none;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top:40px;
    left: 0px;
    text-align: center;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    position: relative;
  }

.custom-checkbox {
    position: relative;
    cursor: pointer;
    margin-left: 5px;

    input[type=checkbox] {
        position: absolute;
        opacity: 0;
        margin-left: 5px;

        &:hover {
                &:after {
                    color: #e5e5e5;
                    /* // content: '\2714'; */
                   content: "\f04d"; 
                }
        }
    }
}

  /*.dropdown-content a::before{
    content: "\f04d";
    position: absolute;
    left: -5px;
    width: 20px;
    padding:0px 10px;
    height: 20px;
    margin-right: 5px;
    display:block;
  }*/
/* 
  .dropdown-content a:hover::before {
    content: "\f04d";
  }

  .dropdown-content a::after{
    content: "(1)";
    position: absolute;
    left: 160px;
    width: 30px;
    padding:0px 10px;
    height: 20px;
    margin-right: 5px;
    
  } */

  .filter-div .color:hover .dropdown-content{
    display: block;
  }

.filter-div  .color{
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgrey;
    padding: 8px 16px ;
    position: relative;
}

.filter-div  .size{
    display: flex;
    width: 200px;
    position: relative;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgrey;
    padding: 8px 16px ;
}

.filter-div .size .dropdown-content{
    position: absolute;
    display: none;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top:40px;
    left: 0px;
    text-align: center;
}

.filter-div .size:hover .dropdown-content{
    display: block;
  }

.filter-div  .filter{
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgrey;
    padding: 8px 16px ;
    gap: 4px;
}
.sort-div .sort {
    display: flex;
    width: 200px;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgrey;
    padding: 8px 16px ;
    position: relative;
    font-size: 14px;
    gap: 4px;
    padding: 8px 16px ;
}

.sort-div .sort .dropdown-content{
    position: absolute;
    display: none;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top:40px;
    left: 0px;
    text-align: center;
}

.sort-div .sort:hover .dropdown-content{
    display: block;
  }

.bottom-div{
    position: relative;
}

.card-container{
    padding: 20px 0px 20px 20px;
    margin:20px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap:50px;
    position: relative;
}

.cardrow{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap:10px; */
    flex-wrap: wrap;
    position: relative;

}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    gap:30px;
    border-radius: 10px;
    padding:7px;
    height: 500px;
    width: 270px;
    box-shadow: rgb(204, 204, 204) 0px 8px 12px 5px;
}
.card-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    position: relative;
    /* margin-top:-40px; */
    /* left:5px; */
    gap: 10px;
    width: 100%;
    height:300px;
    /* border:1px solid black; */
}

.card-view .card-img{
    /* border: 1px solid black; */
    /* background-color: #f8f7fc; */
    /* z-index: 1; */
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 240px;
    transition: transform 0.3s ease-in-out;
}

.card-view .card-img .new{
    position: absolute;
    left:20px;
    top:10px;
    color: #2a6876;
    font-size: 13px;
    font-weight: 400;
    padding: 2px 10px;
    background-color: #fff;
}

.card-view .card-img .off{
    position: absolute;
    top:40px;
    left: 20px;
    color: #fff;
    font-size: 14px;
    border: 1px solid #d14c46;
    padding: 2px 10px;
    background-color: #d14c46;
}

.card-img:hover{
    transform: scale(1.05);
}


/*.card-img img::before {
    content: ""; 
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    /* background-color:  #f8f7fc; 
    /* z-index: -1; 
  /* }*/ 


.card-view .card-img img{
    /* border: 1px solid black; */
    width: 100%;
    height: 240px;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
    /* background-color: #f8f7fc; */
   
}

.card-view .card-img:hover img{
    opacity: 0;
}



.card-view .card-img img.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0; 
    /* transition: opacity 0.3s ease-in-out; */
    animation: zoom-in-zoom-out;
  }

  .card-view .card-img:hover .hover-image{
    opacity: 1;
  }
  
@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    25%{
        transform: scale(1.25,1.25);
    }
    50% {
      transform: scale(1.5, 1.5);
    }
    100% {
      transform: scale(2, 2);
    }
  }

.card-view .card-add{
    border: 1px solid #F84248;
    /* padding: 12px 15px; */
    width: 100%;
    height: 48px;
    /* position: relative; */
    top:10px;
    /* margin: 30px; */
}
.card-view .card-add{
    font-size: 16px;
    padding: 12px 15px;
    width: 100%;
    height: 48px;
    font-family: Manrope;
    color: #F84248;
    background-color: transparent;
    background: #ffffff;
    outline: none;
    border: none;
    /* position: absolute; */
    /* width: 100%;  */
    border: 1px solid #F84248;
    border-radius: 5px;
    left:50px;
}

.card-view .card-add:hover{
    background-color:#F84248;
    color: #fff;
}


.card .card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.card-infor .card-details{
    width: 100%;
    position: relative;
}

.card-name{
    /* color: #2a6876; */
    overflow: hidden;
    width: 90%;
    margin-bottom: 20px;
}

.card-name{
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 400;
}
.card-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-price .avail{
    color: #d14c46;
    font-size: 16px;
}

.card-price .save{
    font-size: 13px;
    background-color: #d14c46;
    color: #fff;
    padding: 6px;
    border-radius: 3px;
}

.card-info .card-clear{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    bottom: -10px;
    left:-110px;
}

footer {
    display: grid;
    grid-template-columns: 250px 200px 200px 200px 200px;

    padding: 20px;
    background-color: #555555;
    color: #fff;
    font-family: 'Manrope' , sans-serif;
    width: 100%;
   
}
ul{
    list-style: none;
}
li a {
    color: white;
    text-decoration: none;
    
}
li{
    padding-bottom: 12px;

}
li a:hover{
    cursor: pointer;
    text-decoration: underline;
    
}

 .icons a{
    color: #C2C2C2;
 }

.marketing{
    background-color: #E4E7E5;
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.marketing-mobile {
    display:none
}
.marketing p{
    font-family: 'Manrope' , sans-serif;
    padding: 30px;
    margin: 10px;
}
.icons {
    padding-top: 2rem;
    display: flex;
    gap: 1.6rem;
}
.content{
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 15px;
}

.time ul{
    padding: 2px;
}
h4{
    padding-top: 20px;
    padding-bottom: 12px;
    
}
.msg{
    width: 350px;
    padding-bottom: 13px;
}

.explore ,.products , .support , .help{
    padding-top: 12px;
}


.news{
    padding-bottom: 20px;
}
.email_id ::placeholder{
    padding: 10px;
    margin: 15px;
}
.email_id input{
   height: 50px;
   width: 250px;
}
.sub{
    height: 50px;
    width: 130px;
   background-color: #ED3338;
}

.sub p{
    padding-left: 25px;
    padding-top: 18px;
    width: 160px;
}

.wrap{
    display: flex;
    gap: 0.5rem;
}

.connect{
    text-decoration: underline;
    font-family: 'Manrope' , sans-serif;
}
.sign_up{
    width: 100%;
}
.bottom{
    border-top: 1px solid white;
    height: 1rem;
    text-align: center;
    background-color: #555555;
    padding: 2rem 0;
    color: white;
}

.mycelloflask img{
    width: 100%;
}

.project-section {
    width: 98%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.box {
    width: 450px;
    height: 400px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.box img {
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

.project-hide {
    position: absolute;
    font: 700 0.75rem/0 "Manrope", sans-serif;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.259);
    z-index: 1;
    opacity: 0;
    transition: all 0.5s;
}

.box:hover img {
    transform: scale(1.2);
}

.box:hover .project-hide {
    opacity: 1;
}


.footer-container{
    height: 100vh;
}

/* Mobile styling */

@media only screen and ( max-width:450px) {



    body{
        margin:0;
        padding: 0;
        box-sizing: border-box;
    }
    header{
        display: none;
    }

    header .floatingHeading{
        display: block;
    }
    .mobile-header{
        display: block;
        width: 100%;
        margin: 20px 10px;
        z-index: 5;
    }

    .mobile-navbar{
        width: 100%;
        display: flex;
        /* gap:20px; */
        align-items: center;
        justify-content: space-around;
    }
    

    footer{
        display: none;
    }
    .main{
        width: 450px;
    }
    .sticky-container{
        display: none;
    }
    .top-div {
        padding-left: 10px;
        padding-right: 10px;
    } 

    .top-div .item-flex{
        display: flex;
        /* width: 100%; */
        overflow-x: auto;
        /* flex: 0 0 calc(33.33% - 20px); */
    }

    .middle-div{
        overflow-x: hidden;
        margin: 20px 10px;
        padding-left: 0px;
        /* width: 400px; */
        overflow-y: visible;
    }

    .filter-div{
        width: 400px;
        /* flex-direction: column; */
        gap: 10px;
        position: absolute;
    }

    .filter-div .category{
        display: flex;
        padding: 8px 8px;
        font-size: 14px;
        gap: 4px;
        position: relative;
        /* border: none; */
    }

    .filter-div .category .dropdown-content{
        position: absolute;
        display: none;
        /* width: 200px; */
        background-color: #fff;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        /* padding:0px 2px; */
        /* top:440px; */
        left: 0px;
        text-align: center;
    }
    
    .dropdown-content a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #333;
        position: relative;
      }
    
    
    
      .dropdown-content .custom-checkbox{
        display: flex;
        align-items: center;
        font-size: 14px;
        gap: 5px;
      }
    
      .filter-div  .category:hover .dropdown-content{
        display: block;
        position: absolute;
        left: -90pxs;

        z-index: 5;
        /* height: 160px; */

      }
    
      .filter-div .color .dropdown-content{
        position: absolute;
        display: none;
        /* width: 200px; */
        background-color: #fff;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 5;
        /* top:40px; */
        left: 0px;
        text-align: center;
    }
    
    .dropdown-content a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #333;
        position: relative;
      }
    
    .custom-checkbox {
        position: relative;
        cursor: pointer;
        margin-left: 5px;
    
        input[type=checkbox] {
            position: absolute;
            opacity: 0;
            margin-left: 5px;
    
            &:hover {
                    &:after {
                        color: #e5e5e5;
                        /* // content: '\2714'; */
                       content: "\f04d"; 
                    }
            }
        }
    }
    
    .filter-div .color{
        display: flex;
        padding: 8px 8px;
        font-size: 14px;
        gap: 4px;
    }

    .filter-div .size{
        display: flex;
        padding: 8px 8px;
        font-size: 14px;
        gap: 4px;
        z-index: 5;
    }

    .filter-div .filter{
        display: flex;
        padding: 8px 2px;
        font-size: 14px;
        gap: 4px;
    }

    .sort-div{
        display: none;
        margin-left: 30px;
    }

    .bottom-div .card-container{
        display: flex;
        flex-direction: column;
        gap:20px;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .bottom-div .card-container .cardrow {
        display: flex;
        /* flex-direction: column; */
        /* gap: 20px; */
    }

    .card-container .card{
        width: 170px;
        height: 450px;
        padding: 7px 7px;
        margin: 20px 7px;
    }

    .card-view .card-img img {
        object-fit: fill;
    }

    .card-view .card-img img.hover-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        object-fit: fill;
        animation: zoom-in-zoom-out;
    }

    .card-name{
        font-size: x-small;
        white-space: nowrap;
        overflow: hidden;
        font-weight: 400;
        left: 10px;
        position: relative;
    }

    .card-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: x-small;
    }

    .card-price .avail{
        font-size: x-small;
    }

    .card-price .save {
        font-size: x-small;
        background-color: #d14c46;
        color: #fff;
        padding: 6px;
        border-radius: 3px;
    }

    .card-info .card-clear {
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid rgb(0, 0, 0);
        bottom: 20px;
        left: -60px;
    }

    .card-view .card-img .new {
        position: absolute;
        left: 20px;
        top: 10px;
        color: #2a6876;
        font-size: x-small;
        font-weight: 400;
        padding: 2px 10px;
        background-color: #fff;
        z-index: 2;
    }

    .card-view .card-img .off {
        position: absolute;
        top: 40px;
        left: 20px;
        color: #fff;
        font-size: x-small;
        border: 1px solid #d14c46;
        padding: 2px 10px;
        background-color: #d14c46;
        z-index: 2;
    }

    .marketing {
        background-color: #E4E7E5;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        overflow-y: scroll;
        height: 90px;
        display: none;
    }
    

    .marketing-mobile{
        display:block;
        background-color: #E4E7E5;
        justify-content: flex-start;
        height: 90px;
    }
    
    .marketing-mobile marquee p{
        display:inline-block;
        padding: 30px 0px;
    }

    footer{
        display: grid;
        grid-template-columns: 1fr;
    }

    div.footer-container{
        height: 60px;
    }
}

@media only screen and ( max-width:768px) and  (min-width:451px) {



    body{
        margin:0;
        padding: 0;
        box-sizing: border-box;
    }
    header{
        display: none;
    }

    header .floatingHeading{
        display: block;
    }
    .mobile-header{
        display: block;
        width: 100%;
        margin: 20px 10px;
        z-index: 5;
    }

    .mobile-navbar{
        width: 100%;
        display: flex;
        /* gap:20px; */
        align-items: center;
        justify-content: space-around;
    }
    
 

    footer{
        display: none;
    }
    .main{
        width: 450px;
    }
    .top-div {
        padding-left: 10px;
        padding-right: 10px;
    } 

    .top-div .item-flex{
        display: flex;
        /* width: 100%; */
        overflow-x: auto;
        /* flex: 0 0 calc(33.33% - 20px); */
    }

    .middle-div{
        overflow-x: hidden;
        margin: 20px 10px;
        padding-left: 0px;
        /* width: 400px; */
    }

    .filter-div{
        width: 400px;
        position: absolute;
    }

    .filter-div .category{
        display: flex;
        padding: 8px 8px;
        font-size: 14px;
        gap: 6px;
        z-index: 5;
    }
    .filter-div .color{
        display: flex;
        padding: 8px 8px;
        font-size: 14px;
        gap: 6px;
        z-index: 5;
    }

    .filter-div .size{
        display: flex;
        padding: 8px 8px;
        font-size: 14px;
        gap: 6px;
        z-index: 5;
    }

    .filter-div .filter{
        display: flex;
        padding: 8px 2px;
        font-size: 14px;
        gap: 6px;
    }

    .sort-div{
        display: flex;
        padding: 8px 2px;
        position: absolute;
        right: 20px;
        z-index: 5;
    }

    .bottom-div .card-container{
        display: flex;
        flex-direction: row;
        gap:20px;
        /* width: 100%;
        padding: 0;
        margin: 0; */
    }

    .bottom-div .card-container .cardrow {
        display: flex;
        flex-direction: row; 
         gap: 20px;
    }

    .card-container .card{
        /* width: 170px; */
        flex: 1;
        width: auto;
        height: 450px;
        padding: 7px 7px;
        margin: 20px 7px;
        gap:20px;
    }

    .card-view .card-img img {
        object-fit: fill;
    }

    .card-view .card-img img.hover-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        object-fit: fill;
        animation: zoom-in-zoom-out;
    }

    .card-name{
        font-size: small;
        white-space: nowrap;
        overflow: hidden;
        font-weight: 400;
        left: 10px;
        position: relative;
    }

    .card-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: small;
    }

    .card-price .avail{
        font-size: small;
    }

    .card-price .save {
        font-size: x-small;
        background-color: #d14c46;
        color: #fff;
        padding: 6px;
        border-radius: 3px;
    }

    .card-info .card-clear {
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid rgb(0, 0, 0);
        bottom: 20px;
        left: -80px;
    }

    .card-view .card-img .new {
        position: absolute;
        left: 20px;
        top: 10px;
        color: #2a6876;
        font-size: x-small;
        font-weight: 400;
        padding: 2px 10px;
        background-color: #fff;
        z-index: 2;
    }

    .card-view .card-img .off {
        position: absolute;
        top: 40px;
        left: 20px;
        color: #fff;
        font-size: x-small;
        border: 1px solid #d14c46;
        padding: 2px 10px;
        background-color: #d14c46;
        z-index: 2;
    }

    .marketing {
        background-color: #E4E7E5;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        overflow-y: scroll;
        height: 90px;
        display: none;
    }
    

    .marketing-mobile{
        display:block;
        background-color: #E4E7E5;
        justify-content: flex-start;
        height: 90px;
    }
    
    .marketing-mobile marquee p{
        display:inline-block;
        padding: 30px 0px;
    }

    footer{
       display: grid;
        grid-template-columns: 1fr 1fr;
    }

    div.footer-container{
        height: 60px;
    }
}

/* laptop screen */
@media  screen and (min-width:900px) and (max-width:1024px){
    .navbar{
        width: 100%;
        padding: 30px 25px;
    }

    .searchbar{
        width: 60%;
    }

    .categories {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 10px;
    }
    
    .categories a {
        font-size: 14px;
    }

    .filter-div .category {
        width: 150px;
    }

    .filter-div .color{
        width: 150px;
    }
    .filter-div .size{
        width: 150px;
    }

    .filter-div .filter{
        width: 150px;
    }

    .card-container{
        display: flex;
        flex-direction: row;
    }

    .marketing{
        flex-wrap: nowrap;
    }
    .cardrow{
        gap: 30px;
    }
}